{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage</title>

<style>
  .nav__name{
    margin-left: 11px;
  }
  .nav__link {
  display: flex;
  align-items: center;
  margin-left: 22px;
  }

  .nav__link:hover {
    color: var(--first-color);
  }
    .nav__dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: 1.4s ease-in-out;
    margin-bottom: 12px;
    }

    .nav__dropdown-collapse {
    background-color: var(--first-color-light);
    border-radius: .25rem;
    margin-top:14px;
  }
  .nav__dropdown-content {
    display: grid;
    row-gap: .5rem;
    /* padding: .75rem 2.5rem .75rem 1.8rem; */
    margin-left: 24px;
    margin-top: 8px;
  }
  .nav__dropdown-icon {
    margin-left: 80px;
    transition: .4s;
  }
  .nav__dropdown:hover {
    max-height: 100rem;
  }
  .nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
    color: #34AF6D;
  }
</style>
</head>
<body>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ staff_home }}" class="brand-link">
      <img src="{% static "dist/img/icon1.png" %}" alt="Python" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">PYTHON</span>
    </a>

    
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/ava1.png" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'admin_profile' %}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <div class="nav__dropdown">
          <a href="#" class="nav__link">
            <i class="nav-icon fa fa-list" aria-hidden="true"></i>
            <span class="nav__name">Information</span>
            <i class="nav-icon fa fa-angle-up nav__dropdown-icon" aria-hidden="true"></i>
         </a>
         <div class="nav__dropdown-collapse">
          <div class="nav__dropdown-content">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                   
              <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                {% url 'admin_home' as admin_home %}
                <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                  <i class="nav-icon fa fa-home" aria-hidden="true"></i>
                  <p>
                    Home
                  </p>
                </a>
              </li>
              <div class="nav__dropdown" style="margin-top: 5px; margin-bottom: 15px;">
                <a href="#" class="nav__link">
                  <i class="nav-icon fa fa-list" aria-hidden="true"></i>
                  <span class="nav__name">Staff</span>
                  <i class="nav-icon fa fa-angle-up nav__dropdown-icon" style="margin-left: 105px;" aria-hidden="true"></i>
               </a>
               <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                    {% url 'add_staff' as add_staff %}
                    <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                      <i class="nav-icon fa fa-plus-square" aria-hidden="true"></i>
                      <p>
                        Add Staff
                      </p>
                    </a>
                  </li>
                   <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                      {% url 'manage_staff' as manage_staff %}
                    {% url 'edit_staff' staff_id=id as edit_staff %}
                    <a href="{% url 'manage_staff' %}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                      <i class="nav-icon fa fa-cog" aria-hidden="true"></i>
                      <p>
                        Manage Staff
                      </p>
                    </a>
                  </li>
                  </ul>
                  </div>
                  </div>

                </div>
                <div class="nav__dropdown" style="margin-top: 8px; margin-bottom: 18px;">
                  <a href="#" class="nav__link">
                    <i class="nav-icon fa fa-user" aria-hidden="true"></i>
                    <span class="nav__name">Student</span>
                    <i class="nav-icon fa fa-angle-up nav__dropdown-icon" style="margin-left: 84px;" aria-hidden="true"></i>
                 </a>
                 <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                      <li class="nav-item" style="margin-bottom: 6px; padding-right: 30px">
                        {% url 'add_student' as add_student %}
                      <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                        <i class="nav-icon fa fa-plus-square" aria-hidden="true"></i>
                        <p>
                          Add Student
                        </p>
                      </a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 6px; padding-right: 30px">
                        {% url 'manage_student' as manage_student %}
                        {% url 'edit_student' student_id=id as edit_student %}
                      <a href="{% url 'manage_student' %}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                        <i class="nav-icon fa fa-cog" aria-hidden="true"></i>
                        <p>
                          Manage Students
                        </p>
                      </a>
                    </li>
                      </ul>
                    </div>
                  </div>
                  </div>
              <div class="nav__dropdown" style="margin-top: 5px; margin-bottom: 15px;">
                <a href="#" class="nav__link">
                  <i class="nav-icon fa fa-book" aria-hidden="true"></i>
                  <span class="nav__name">Course</span>
                  <i class="nav-icon fa fa-angle-up nav__dropdown-icon" style="margin-left: 90px;" aria-hidden="true"></i>
               </a>
               <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item" style="margin-bottom: 6px; padding-right: 30px">
                      {% url 'add_course' as add_course %}
                      <a href="{% url 'add_course' %}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                        <i class="nav-icon fa fa-plus-square" aria-hidden="true"></i>
                        <p>
                          Add Course
                        </p>
                      </a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                      {% url 'manage_course' as manage_course %}
                        {% url 'edit_course' course_id=id as edit_course %}
                      <a href="{% url 'manage_course' %}" class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
                        <i class="nav-icon fa fa-cog" aria-hidden="true"></i>
                        <p>
                          Manage Course
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
               </div>
              </div>
              
              <div class="nav__dropdown" style="margin-top: 8px; margin-bottom: 16px;">
                <a href="#" class="nav__link">
                  <i class="nav-icon fa fa-plus-square" aria-hidden="true"></i>
                  <span class="nav__name">Subject</span>
                  <i class="nav-icon fa fa-angle-up nav__dropdown-icon" style="margin-left: 88px;" aria-hidden="true"></i>
               </a>
               <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                      {% url 'add_subject' as add_subject %}
                      <a href="{% url 'add_subject' %}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                        <i class="nav-icon fa fa-plus-square" aria-hidden="true"></i>
                        <p>
                          Add Subject
                        </p>
                      </a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                      {% url 'manage_subject' as manage_subject %}
                      {% url 'edit_subject' subject_id=id as edit_subject %}
                      <a href="{% url 'manage_subject' %}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %} ">
                        <i class="nav-icon fa fa-cog" aria-hidden="true"></i>
                        <p>
                          Manage Subject
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
               </div>
              </div>
             
              <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                {% url 'manage_session' as manage_session %}
                <a href="{% url 'manage_session' %}" class="nav-link {% if request.path == manage_session %} active {% endif %} ">
                  <i class="nav-icon fa fa-calendar" aria-hidden="true"></i>
                  <p>
                    Manage Session Year
                  </p>
                </a>
              </li>
    
              {% comment %} <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
    >>>>>>> aae37783f2c253b5de1f55f3216eb6269d3086ab
                   {% url 'student_leave_view' as student_leave_view %}
                <a href="{% url 'student_leave_view' %}" class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                     Student Leave
                  </p>
                </a>
              </li>
                <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                     {% url 'staff_leave_view' as staff_leave_view %}
                <a href="{% url 'staff_leave_view' %}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Staff Leave
                  </p>
                </a>
              </li> {% endcomment %}
              <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                {% url 'admin_view_attendance' as admin_view_attendance %}
                 <a href="{% url 'admin_view_attendance' %}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
                  <i class="nav-icon fa fa-clipboard" aria-hidden="true"></i>
                  <p>
                    View Attendance
                  </p>
                </a>
              </li>
              <div class="nav__dropdown" style="margin-top: 5px; margin-bottom: 15px;">
                <a href="#" class="nav__link">
                  <i class="nav-icon fa fa-bell" aria-hidden="true"></i>
                  <span class="nav__name">Notification</span>
                  <i class="nav-icon fa fa-angle-up nav__dropdown-icon" style="margin-left: 58px;" aria-hidden="true"></i>
               </a>
               <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                      {% url 'admin_send_notification_staff' as admin_send_notification_staff %}
                       <a href="{% url 'admin_send_notification_staff' %}" class="nav-link {% if request.path == admin_send_notification_staff %} active {% endif %}">
                        <i class="nav-icon fa fa-user" aria-hidden="true"></i>
                        <p>
                          Send Staff 
                        </p>
                      </a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 6px;  padding-right: 30px">
                      {% url 'admin_send_notification_student' as admin_send_notification_student %}
                       <a href="{% url 'admin_send_notification_student' %}" class="nav-link {% if request.path == admin_send_notification_student %} active {% endif %}">
                        <i class="nav-icon fa fa-users" aria-hidden="true"></i>
                        <p>
                          Send Student
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
               </div>
              </div>
             
            </ul>
          </div>
         </div>
        </div>
        
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</body>
</html>
  